<p class="logo">LP SWAP</p>
<nb-layout>
    <nb-sidebar>
        <!-- <a class="home mb-3" routerLink="/pairs/wbnb-auto">
            <nb-icon icon="home"></nb-icon>
            <p>Home</p>
        </a> -->
        <a class="pairs" routerLink="/pairs">
            <nb-icon icon="radio-button-on-outline"></nb-icon>
            <p>Pairs</p>
        </a>
    </nb-sidebar>
    <nb-layout-column class="colored-column-success">
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>